body {
  background-image: url('../img/bedge-grunge.png');
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
}

#title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #232F3E;
}

#search-bar {
  width: 100%;
  display: inline-block;
  text-align: center;
}

#error-message {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  text-align: center;
  color: red;
}

input {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  color: #232F3E;
  width: 60%;
  max-width: 800px;
  border: none;
  box-shadow: 1px 2px 8px rgba(35, 47, 62, .4);
  border-radius: 30px 0px 0px 30px;
  padding-left: 20px;
  padding-right: 10px;
  height: 60px;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  color: white;
  border: none;
  box-shadow: 1px 2px 8px rgba(35, 47, 62, .4);
  border-radius: 0px 30px 30px 0px;
  margin-left: 3px;
  padding-left: 15px;
  padding-right: 20px;
  height: 62px;
  vertical-align: middle;
  background-color: #FF9900;
}

button:hover {
  background-color: #73C2FF;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  background-color: gray;
}
